{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Сотрудники отдела {{ department.name }}</h1>
    
    {% if employees %}
        <ul>
        {% for employee in employees %}
            <li>{{ employee.first_name }} {{ employee.last_name }} — {{ employee.position.title }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>В этом отделе нет сотрудников.</p>
    {% endif %}

    <a href="{{ url_for('department_detail', department_id=department.department_id) }}" class="btn">Вернуться к отделу</a>
</div>
{% endblock %}
